/*-----------------generales----------------*/
:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Luckiest+Guy&family=Roboto:wght@400;500&display=swap');

p {font-family: 'Roboto', sans-serif;
text-align: center;
}

h2 {font-family: 'Bowlby One', cursive;
text-align: center;
font-weight: 1500;
color: rgba(231, 68, 35, 1);}

h1{font-family: 'Luckiest Guy', cursive;
text-align: center}

/*---------------Header----------------*/
.header{
    display: flex;
    
}
.hero{ 
    background-image: url('../assets/Rectangle\ 91.png');
    background-repeat: no-repeat;
  
   height:500px;
}
h3 {
    position: absolute;
width: 1103px;
height: 99px;
left: 152px;
top: 310px;

font-family: Bowlby One;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 100px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
/*---------------Main------------------*/
.content { border-color: rgba(231, 68, 35, 1);
border-style: solid;
border-radius: 5%;
width: 20%;
margin-top: 8%;

}

.container { 
    display: flex;
    flex-wrap: wrap;
gap: 10%;
justify-content: center;
}
.tipo{
    font-weight: 700;
}
.fotoProducto{ 
    display: block;
    margin: auto;
    margin-top: 10%;
}
/*-------------------footer---------------*/

/*-----Smartphones más pequeños ---*/
@media screen and (max-width: 480px) {
    body{
        background-color: blue;
    }
}
/*-----Smartphones más grandes y tablets  ---*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    body{
        background-color: red;
    }
}
/*-----Laptops, tablets grandes en su modo apaisado y pequeñas computadoras de escritorio  ---*/
@media screen and (min-width: 769px) and (max-width: 1279px) {
    body{
        background-color: aqua;
    }
}
/*--Computadoras de escritorio más grande y monitores --*/
@media screen and (min-width: 1280px) {
    body{
        background-color: white;
    }
}
